<div class="col-sm-8">
  <img src="assets/index.png">
</div>
<div class="table" >
    <tr>
    <td align="center">Be great at what you do<br>
      Get started - it's free.</td>
  </tr><br>
  <div class="second_part">
  <tr>
    <td>
      First Name
    </td>
  </tr>
  <tr>
    <td>
      <input id="firstname"type="text">
    </td>
  </tr><br>
  <tr>
    <td>
      Last Name
    </td>
  </tr>
  <tr>
    <td>
      <input id="lastname"type="text">
    </td>
  </tr><br>
  <tr>
    <td>
      Email or phone number
    </td>
  </tr>
  <tr>
    <td>
      <input id="emailphone"type="text">
    </td>
  </tr><br>
  <tr>
    <td>
      Password(6 or more characters)
    </td>
  </tr>
  <tr>
    <td>
      <input id="pass"type="text">
    </td>
  </tr><br>
  <tr>
    <td>

      By clicking join now,you agree to the Linked User<br>
      Agreement,PrivacyPolicy,and Cookie Policy.

    </td>
  </tr><br>
  <tr>
    <td align="center">
      <button id="B2" >Join now</button>
    </td>
  </tr><br>
</div>
</div>
