<div class ="center">
<div class="find" >
  find a colleague<input type="text"><input type="text"><button>Search</button>
</div>
<div class="bottom">
  LinkedIn member directory:<a href="www.google.com">A</a>
  <a href="www.google.com">B</a>
  <a href="www.google.com">C</a>
  <a href="www.google.com">D</a>
  <a href="www.google.com">E</a>
  <a href="www.google.com">F</a>
  <a href="www.google.com">G</a>
  <a href="www.google.com">H</a>
  <a href="www.google.com">I</a>
  <a href="www.google.com">J</a>
  <a href="www.google.com">K</a>
  <a href="www.google.com">L</a>
  <a href="www.google.com">M</a>
  <a href="www.google.com">N</a>
  <a href="www.google.com">O</a>
  <a href="www.google.com">P</a>
  <a href="www.google.com">Q</a>
  <a href="www.google.com">R</a>
  <a href="www.google.com">S</a>
  <a href="www.google.com">T</a>
  <a href="www.google.com">U</a>
  <a href="www.google.com">V</a>
  <a href="www.google.com">W</a>
  <a href="www.google.com">X</a>
  <a href="www.google.com">Y</a>
  <a href="www.google.com">Z</a>
  <a href="www.google.com"> More</a> |<a href="www.google.com"> Browse by county </a></div>
<hr class="line">
</div>
<div class="abc"></div>
<br>
<div>'</div>
